<mat-toolbar id="navbar">
  <mat-toolbar-row>
    <span class="navbar-brand" routerLink="/">
      <img
        src="..\assets\images\Tormes-Logo.png"
        height="30"
        alt=""
        loading="lazy"
      />
    </span>

    <button
      class="toggle-menu app-menu"
      mat-icon-button
      [matMenuTriggerFor]="appMenu"
    >
      <mat-icon>more_vert</mat-icon>
    </button>

    <mat-menu class="navbar-menu app-menu" #appMenu="matMenu">
      <a mat-menu-item routerLink="home" [translate]="'home.title'"></a>
      <button
        mat-menu-item
        routerLink="catalog"
        [translate]="'catalog.title'"
      ></button>
      <button
        mat-menu-item
        [matMenuTriggerFor]="ordersMenu"
        routerLink="/orders"
        [translate]="'orders.title'"
      ></button>
    </mat-menu>

    <div class="navbar-menu-big-size">
      <a routerLink="home" [translate]="'home.title'"></a>
      <a routerLink="catalog" [translate]="'catalog.title'"></a>
      <a [matMenuTriggerFor]="ordersMenu" [translate]="'orders.title'"></a>
    </div>

    <mat-menu class="orders-menu" #ordersMenu="matMenu">
      <button mat-menu-item routerLink="customer/my-orders">Mis pedidos</button>
    </mat-menu>

    <search-component
      class="d-none d-md-flex"
      [placeholder]="'Buscar producto..'"
    ></search-component>

    <lang-selector
      [language]="'es'"
      (useLanguageChange)="useLanguage($event)"
    ></lang-selector>

    <div class="user-info" *ngIf="customer">
      <mat-icon>person_pin</mat-icon>
      <a [matMenuTriggerFor]="profileMenu">{{ customer.name }}</a>
    </div>
    <mat-menu class="profile-menu" #profileMenu="matMenu">
      <button mat-menu-item (click)="logout()">Cerrar Sesión</button>
    </mat-menu>

    <shopping-cart-button
      [amount]="shoppingCartItems"
      (openCartClick)="shoppingCart()"
    ></shopping-cart-button>
  </mat-toolbar-row>
</mat-toolbar>
