<div id="register">
  <div class="header">
    <div class="logo">
      <img alt="Tormes-Logo" src="..\assets\images\Tormes-Logo.png" />
    </div>
    <div class="title">
      <p>Registrate</p>
      <span>TORMES</span>
    </div>
  </div>

  <div class="dialog-container">
    <form
      class="form-container"
      [formGroup]="formGroup"
      (ngSubmit)="signin()"
      fxLayout="column"
      fxLayoutAlign="start center"
    >
      <mat-form-field appearance="outline">
        <mat-label>Name</mat-label>
        <input matInput formControlName="name" ng-model="data.name" required />
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Last name</mat-label>
        <input matInput formControlName="lastName" ng-model="data.lastName" required />
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input
          matInput
          formControlName="email"
          ng-model="data.email"
          required
        />
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Contraseña</mat-label>
        <input
          matInput
          formControlName="pass"
          [type]="hidePass ? 'password' : 'text'"
          required
        />
        <mat-icon *ngIf="hidePass" (click)="hidePass = false" matSuffix
          >visibility</mat-icon
        >
        <mat-icon *ngIf="!hidePass" (click)="hidePass = true" matSuffix
          >visibility_off</mat-icon
        >
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Contraseña</mat-label>
        <input
          matInput
          formControlName="passConfirmation"
          [type]="hidePass ? 'password' : 'text'"
          required
        />
        <mat-icon *ngIf="hidePass" (click)="hidePass = false" matSuffix
          >visibility</mat-icon
        >
        <mat-icon *ngIf="!hidePass" (click)="hidePass = true" matSuffix
          >visibility_off</mat-icon
        >
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Phone Number</mat-label>
        <input matInput formControlName="phoneNumber" ng-model="data.phoneNumber" required pattern="[0-9]*"/>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Delivery Address</mat-label>
        <input matInput formControlName="deliveryAddress" ng-model="data.deliveryAddress" required />
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Billing Address</mat-label>
        <input matInput formControlName="billingAddress" ng-model="data.billingAddress" required />
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Postal Code</mat-label>
        <input matInput formControlName="postalCode" ng-model="data.postalCode" required pattern="[0-9]*" />
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Gender</mat-label>
        <mat-select formControlName="gender" ng-model="data.gender" required>
          <mat-option value="male">Male</mat-option>
          <mat-option value="female">Female</mat-option>
          <mat-option value="other">Other</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Birthdate</mat-label>
        <input matInput [matDatepicker]="datepicker" formControlName="birthdate" ng-model="data.birthdate" required />
        <mat-datepicker-toggle matSuffix [for]="datepicker"></mat-datepicker-toggle>
        <mat-datepicker #datepicker></mat-datepicker>
      </mat-form-field>

      <button-component
        [class]="'purple-button'"
        [label]="'register.button' | translate"
        [disabled]="!formGroup.valid"
      >
      </button-component>
    </form>
    <div class="already-account">
      <button-component
        [class]="'border-purple-button'"
        [label]="'register.new-user' | translate"
        [disabled]="!formGroup.valid"
      >
      </button-component>
    </div>
  </div>
</div>
