<div id="create-product">
  <div class="create-product-container">
    <div class="header-panel">
      <fa-icon
        class="close-icon"
        routerLink="../"
        [icon]="['fas', 'times']"
      ></fa-icon>

      <button-component
        [label]="'shop.admin.dashboard.options.products.add' | translate"
        [class]="'purple-button'"
        [type]="'submit'"
        [disabled]="!formGroup.valid"
        (click)="createProduct()"
      >
        <mat-icon>add</mat-icon>
      </button-component>
    </div>
    <div class="form-creation">
      <div class="form-header">
        <h3>Create Product</h3>
      </div>
      <form
        class="form-container row"
        [formGroup]="formGroup"
        fxLayout="column"
        fxLayoutAlign="start center"
      >
        <div class="col-sm-12 col-md-6">
          <mat-form-field appearance="outline" class="col-12">
            <mat-label
              [translate]="'shop.admin.dashboard.options.products.name'"
            ></mat-label>
            <input
              matInput
              formControlName="name"
              ng-model="data.name"
              required
            />
          </mat-form-field>

          <mat-form-field appearance="outline" class="col-12">
            <mat-label
              [translate]="'shop.admin.dashboard.options.products.section'"
            ></mat-label>
            <mat-select formControlName="section" required>
              <mat-option
                *ngFor="let section of sections"
                [value]="section.name"
              >
                {{ section.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field appearance="outline" class="col-12">
            <mat-label
              [translate]="'shop.admin.dashboard.options.products.price'"
            ></mat-label>
            <input
              matInput
              type="number"
              formControlName="price"
              ng-model="data.price"
              required
            />
          </mat-form-field>
        </div>

        <div class="image-picker col-sm-12 col-md-6">
          <file-upload-component
            [label]="'shop.admin.dashboard.options.products.image' | translate"
            (fileSelected)="handleFile($event)"
          ></file-upload-component>
        </div>

        <mat-form-field appearance="outline" class="description col-12">
          <mat-label
            [translate]="'shop.admin.dashboard.options.products.description'"
          ></mat-label>
          <input
            matInput
            formControlName="description"
            ng-model="data.description"
            required
          />
        </mat-form-field>
      </form>
      <div class="form-submit"></div>
    </div>
  </div>
</div>
