<div id="create-product">
  <div class="header-panel">
    <fa-icon class="close-icon" [icon]="['fas', 'times']"></fa-icon>
  </div>
  <div class="form-creation">
    <div class="form-header">
      <h3>Create Product</h3>
    </div>
    <form
      class="form-container row"
      [formGroup]="formGroup"
      fxLayout="column"
      fxLayoutAlign="start center"
    >
      <div class="col-sm-6 row">
        <mat-form-field appearance="outline" class="col-12">
          <mat-label
            [translate]="'shop.admin.dashboard.options.products.name'"
          ></mat-label>
          <input
            matInput
            formControlName="name"
            ng-model="data.name"
            required
          />
        </mat-form-field>

        <mat-form-field appearance="outline" class="col-12">
          <mat-label
            [translate]="'shop.admin.dashboard.options.products.section'"
          ></mat-label>
          <input
            matInput
            formControlName="section"
            ng-model="data.section"
            required
          />
        </mat-form-field>

        <mat-form-field appearance="outline" class="col-12">
          <mat-label
            [translate]="'shop.admin.dashboard.options.products.price'"
          ></mat-label>
          <input
            matInput
            formControlName="price"
            ng-model="data.price"
            required
          />
        </mat-form-field>
      </div>

      <div class="image-picker col-sm-6">
        <!-- <app-upload></app-upload> -->
      </div>

      <mat-form-field appearance="outline" class="col-12">
        <mat-label
          [translate]="'shop.admin.dashboard.options.products.description'"
        ></mat-label>
        <input
          matInput
          formControlName="description"
          ng-model="data.description"
          required
        />
      </mat-form-field>
    </form>
    <div class="form-submit">
      <button-component
        [label]="'shop.admin.dashboard.options.products.add' | translate"
        [class]="'gold-button'"
        [type]="'submit'"
        [disabled]="!formGroup.valid"
      ></button-component>
    </div>
  </div>
</div>
