:root {
  --gold-color: #CC9901;
  --gold-hover-color: #F2C679;

  --purple-color: #6a3c99;
  --purple-hover-color: #440880;

  --success-color: #0dbd42;
  --error-color: #ff0019;

  --grey-color: #ededed;

  --granate-color: #a4283b;
  --granate-hover-color: #a4283b47;
  
}
