:root {
    --gold-color: #ec9819;
    --gold-hover-color: #f5ac2f;

    --purple-color: #6a3c99;
    --purple-hover-color: #2e1834;

    --success-color: #0dbd42;
    --error-color: #ff0019;

    --grey-color: #ededed;
  }
  