html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Inter, "Helvetica Neue", sans-serif;
}

/* Importing Bootstrap SCSS file. */
@import url("https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap");

* {
  font-family: "Titillium Web", sans-serif !important;
}
