html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Inter, "Helvetica Neue", sans-serif;
}

@import url("https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap");
@import "../../../../src/styles/variables.scss";

* {
  font-family: "Titillium Web", sans-serif !important;
}
