#sections-info {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100vh;
  padding: 64px;

  background-color: var(--grey-color);

  .sections-container {
    display: flex;
    flex-direction: column;
    padding: 16px;
    margin: 0 auto auto auto;

    background-color: white;
    border-radius: 8px;
    border: 1px solid #d8d8d8b3;

    .table-header {
      display: flex;
      flex-direction: row;

      search-component {
        margin-right: auto;
        max-width: 300px;
      }

      button-component {
        margin-left: auto;
        margin-bottom: 16px;

        min-width: 150px;

        mat-icon {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 10px;
          height: 10px;
        }
      }
    }
  }
}

@media screen and (min-width: 576px) {
  #sections-info {
    .sections-container {
      padding: 32px 48px 48px 48px;
    }
  }
}
@media screen and (min-width: 768px) {
  #sections-info {
    .sections-container {
      .table-header {
        search-component {
          width: 300px;
        }
      }
    }
  }
}
@media screen and (min-width: 1400px) {
  #sections-info {
    .sections-container {
      max-width: 1200px;
    }
  }
}
