<div id="product" class="product">
  <div class="container-img" id="imagen">
    <img src="{{ productImageUrl }}" alt="{{ product.name }}" />
  </div>
  <div class="container-text">
    <h4>{{ product.name }}</h4>
    <p class="section">{{ product.section }}</p>
    <div class="container-price">
      <span class="price">{{ product.price }}</span>
      <p>€/Kg</p>
    </div>
  </div>
  <button-component
    [class]="'purple-button'"
    [label]="'Añadir al carro'"
    [type]="'button'"
  >
  </button-component>
</div>
