<div id="cash-registers-info">
  <div class="cash-registers-container">
    <div class="table-header">
      <button-component
        [label]="'shop.admin.cashRegister.add' | translate"
        [routerLink]="'/admin/cash-registers/close'"
        [class]="'purple-button'"
        [type]="'button'"
      >
        <mat-icon>add</mat-icon>
      </button-component>
    </div>

    <table-crud-component
      (updateEvent)="updateCashRegister($event)"
      (deleteEvent)="deleteCashRegister($event)"
      [elementsTable]="cashRegisters"
      [displayedColumns]="displayedColumns"
      [deleteAction]="true"
      [updateAction]="true"
    ></table-crud-component>
  </div>
</div>
