<div
  id="shopping-cart"
  class="shopping-cart"
  [ngClass]="{ expanded: isExpanded }"
>
  <div class="header">
    <button
      class="btn-close"
      *ngIf="isExpanded"
      (click)="handleSidebarToggle()"
    >
      <fa-icon class="close-icon" [icon]="['fas', 'times']"></fa-icon>
    </button>
  </div>
  <div class="content">
    <div
      *ngFor="
        let shoppingCartProduct of (shoppingCart$ | async)?.shoppingCartProducts
      "
    >
      <div class="product-card">
        <div class="container-img" id="imagen">
          <img
            src="{{ productImageUrl + shoppingCartProduct.product.image }}"
            alt="{{ shoppingCartProduct.product.name }}"
          />
        </div>
        <div class="container-text">
          <h4>{{ shoppingCartProduct.product.name }}</h4>
          <p class="section">{{ shoppingCartProduct.product.section }}</p>
          <div>
            <p class="amount">Cantidad: {{ shoppingCartProduct.amount }}</p>
          </div>
          <div class="container-price">
            <span class="price">{{ shoppingCartProduct.product.price }}</span>
            <p>€/Kg</p>
          </div>
        </div>
        <interaction-control
          [amount]="shoppingCartProduct.amount"
          (deleteButtonClick)="
            deleteProductFromShoppingCart(shoppingCartProduct.product)
          "
          (removeButtonClick)="
            removeProductFromShoppingCart(shoppingCartProduct.product)
          "
          (addButtonClick)="
            addProductToShoppingCart(shoppingCartProduct.product)
          "
        ></interaction-control>
      </div>
    </div>
    <div class="order-info-container">
      <div>
        <p>Total:</p>
        <span>{{ totalOrderPrice }}</span>
      </div>
      <div>
        <button-component
          [class]="'purple-button'"
          [label]="'Tramitar pedido'"
          [type]="'button'"
        >
        </button-component>
      </div>
    </div>
  </div>
</div>
