<div id="products-info">
  <!-- <div class="table-header">
    <h2>Manage Products</h2>
    <search-component [placeholder]="'Buscar producto...'"></search-component>
  </div> -->
  <table-crud-component
    (updateEvent)="update($event)"
    (deleteEvent)="delete($event)"
    [elementsTable]="products"
    [displayedColumns]="displayedColumns"
    [deleteAction]="true"
    [updateAction]="true"
  ></table-crud-component>
  <button-component
    [label]="'shop.admin.dashboard.options.products.add' | translate"
    [routerLink]="'/admin/products/create-product'"
    [class]="'gold-button'"
    [type]="'button'"
  ></button-component>
</div>
