<div id="cash-register">
  <div class="cash-register-container">
    <div class="header-panel">
      <fa-icon
        class="close-icon"
        routerLink="../"
        [icon]="['fas', 'times']"
      ></fa-icon>
    </div>
    <div class="form-creation">
      <div class="form-header">
        <h3
          [translate]="'shop.admin.dashboard.options.cashRegister.title'"
        ></h3>
      </div>
      <form
        class="form-container row"
        [formGroup]="formGroup"
        fxLayout="column"
        fxLayoutAlign="start center"
      >
        <div class="cash-register-values row col-12">
          <div class="cash-register-counts coins row col-6">
            <div class="coin col-12" *ngFor="let coinName of coinNames">
              <mat-form-field appearance="outline" class="col-9">
                <mat-label
                  [translate]="
                    'shop.admin.dashboard.options.cashRegister.coins.' +
                    coinName
                  "
                ></mat-label>
                <input
                  matInput
                  type="number"
                  [formControlName]="coinName"
                  ng-model="data.coinName"
                  required
                />
              </mat-form-field>
              <div class="total-coin-value col-3">
                <label class="value"
                  >{{ calculateCoinValue(coinName) }} €</label
                >
              </div>
            </div>
            <div class="sumatory">
              <label class="type">Monedas</label>
              <label class="value">{{ calculateTotalCoinValue() }} €</label>
            </div>
          </div>
          <div class="cash-register-counts bills row col-6">
            <div class="bill col-12" *ngFor="let billName of billNames">
              <mat-form-field appearance="outline" class="col-9">
                <mat-label
                  [translate]="
                    'shop.admin.dashboard.options.cashRegister.bills.' +
                    billName
                  "
                ></mat-label>
                <input
                  matInput
                  type="number"
                  [formControlName]="billName"
                  ng-model="data.billName"
                  required
                />
              </mat-form-field>
              <div class="total-bill-value col-3">
                <label class="value"
                  >{{ calculateBillValue(billName) }} €</label
                >
              </div>
            </div>
            <div class="sumatory">
              <label class="type">Billetes</label>
              <label class="value">{{ calculateTotalBillValue() }} €</label>
            </div>
          </div>
        </div>
        <div class="cash-register-extras-totals row col-12">
          <div class="extras row col-6">
            <div class="extra">
              <mat-form-field appearance="outline" class="col-12">
                <mat-label
                  [translate]="
                    'shop.admin.dashboard.options.cashRegister.totalSpent'
                  "
                ></mat-label>
                <input
                  matInput
                  type="number"
                  formControlName="totalSpent"
                  ng-model="data.totalSpent"
                  required
                />
              </mat-form-field>
            </div>
            <div class="extra">
              <mat-form-field appearance="outline" class="col-12">
                <mat-label
                  [translate]="
                    'shop.admin.dashboard.options.cashRegister.cashInBox'
                  "
                ></mat-label>
                <input
                  matInput
                  type="number"
                  formControlName="cashInBox"
                  ng-model="data.cashInBox"
                  required
                />
              </mat-form-field>
            </div>
          </div>
          <div class="totals row col-6">
            <div class="total">
              <mat-form-field appearance="outline" class="col-12">
                <mat-label
                  [translate]="
                    'shop.admin.dashboard.options.cashRegister.totalCardPayments'
                  "
                ></mat-label>
                <input
                  matInput
                  type="number"
                  formControlName="totalCardPayments"
                  ng-model="data.totalCardPayments"
                  required
                />
              </mat-form-field>
            </div>
            <div class="total">
              <mat-form-field appearance="outline" class="col-12">
                <mat-label
                  [translate]="
                    'shop.admin.dashboard.options.cashRegister.reportedTotal'
                  "
                ></mat-label>
                <input
                  matInput
                  type="number"
                  formControlName="reportedTotal"
                  ng-model="data.reportedTotal"
                  required
                />
              </mat-form-field>
            </div>
          </div>
        </div>
        <div class="cash-register-final-totals row">
          <div class="final-total">
            <label class="type">Total</label>
            <label class="value">{{ calculateFinalTotal() }} €</label>
          </div>
          <div class="final-difference">
            <label class="type">Diferencia</label>
            <label class="value">{{ calculateDifference() }}€</label>
          </div>
        </div>
      </form>
      <div class="form-submit" *ngIf="!cashRegister">
        <button-component
          [label]="'shop.admin.dashboard.options.cashRegister.add' | translate"
          [class]="'purple-button'"
          [type]="'submit'"
          (click)="closeCashRegister()"
        >
          <mat-icon>add</mat-icon>
        </button-component>
      </div>
      <div class="form-submit" *ngIf="cashRegister">
        <button-component
          [label]="
            'shop.admin.dashboard.options.cashRegister.update' | translate
          "
          [class]="'purple-button'"
          [type]="'submit'"
          (click)="updateCashRegister()"
        >
          <mat-icon>add</mat-icon>
        </button-component>
      </div>
    </div>
  </div>
</div>
